<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Asta On-Line</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://127.0.0.1:3306/asta</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>TIWprogettoDB123</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <filter> 
      <filter-name>LoginChecker</filter-name>
      <filter-class>it.polimi.tiw.progettoAsta.filters.LoginChecker</filter-class> 
 </filter> 
 <filter-mapping> 
    <filter-name>LoginChecker</filter-name> 
    <url-pattern>/Vendo</url-pattern> 
    <url-pattern>/Acquisto</url-pattern> 
    <url-pattern>/DettaglioAsta</url-pattern> 
    <url-pattern>/Offerta</url-pattern> 
    <url-pattern>/FindAuctionByKey</url-pattern> 
    <url-pattern>/CreateAuction</url-pattern> 
    <url-pattern>/EndAuction</url-pattern> 
    <url-pattern>/AddArticle</url-pattern> 
    <url-pattern>/MakeAnOffer</url-pattern> 
    <url-pattern>/Logout</url-pattern> 
    <url-pattern>/LastVisitedAuction</url-pattern> 
    <url-pattern>/Home.html</url-pattern> 
 </filter-mapping> 

  <welcome-file-list>
  	<welcome-file>loginPage.html</welcome-file>
  </welcome-file-list>
</web-app>